<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Belly Button Biodiversity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="static/images/bacteria.png" />
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--Left nav link-->
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"
                  >Belly Button Diversity
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>  
            <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >APIs <span class="caret"></span
                    ></a>
                    <ul class="dropdown-menu">
                      <li><a href="/names">Names API</a></li>
                      <li><a href="/samplesend">Sample API</a></li>
                      <li><a href="/metasend">Metadata API</a></li>
                    </ul>
          </div>
        </div>
      </nav>
      <div class="hero1 text-center">
        <h1 style="color:white;">Belly Button Biodiversity</h1>
        <h3 style="color:white;">
          Use the interactive charts below to explore the dataset
        </h3>
      </div>
      <div {opacity: 0.3;} class="container" >
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Select Sample:</h5>
              <select
                id="selDataset"
                onchange="optionChanged(this.value)"
              ></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Sample MetaData</h3>
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div id="pie"></div>
          </div>
          <div class="col-md-5">
            <div id="gauge"></div>
          </div>
        </div>
      </div>
      <div class="hero2 text-center">
        </div>
      <div class="row">
        <div class="col-md-12">
          <div id="bubble"></div>
        </div>
      </div>

      <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </div>
  </body>
</html>
